form {
  display: flex;
  flex-direction: column;
  gap: 4.8rem;
  margin: 8rem auto 8rem;
  max-width: calc(100% - 22rem);

  & fieldset {
    border: none;
    display: flex;
    flex-direction: column;

    & .head-fieldset {
      display: flex;
      gap: 1.2rem;

      & legend {
        font: var(--text-heading-sm);
        color: var(--text-heading);
      }

      & img {
        height: 2.4rem;
      }
      
    }

  }
}

#about-event {

  gap: 1.6rem;

  & .grid-two-columns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.6rem;
  }

  .event-types {
    display: flex;
  }

}

#customization {
  gap: 2.8rem;

  .theme-grid-template {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: .8rem;
  }
  
  & .flex {
    display: flex;
    gap: 1.6rem;

    & > :nth-child(1) {
      width: 17.6rem;
    }

    & > :nth-child(2) {
      width: 100%
    }

  }
}

#contact {
  gap: 1.6rem;

  & .flex {
    display: flex;
    flex-direction: row;
    gap: 1.6rem;
    
    & .input-wrapper {
      width: 100%;
    }

  }

}

.line {
  height: 1px;
  background-color: var(--shape-hover);
}