* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {

  /* COLORS */

  /* colors brand */
  --brand-light: #59B2FF;
  --brand-mid: #3487CF;
  --brand-dark: #1D6FB6;

  /* colors form */
  --danger: #FF5959;

  --input-base: #1C1F21;
  --input-stroke: #4d6f92;
  --input-placeholder: #869198;

  --shape-background: #131516;
  --shape-body: #212427;
  --shape-button: #2D3136;
  --shape-hover: #383D42;

  --text-body: #C8CDD0;
  --text-heading: #F9F9F9;

  /* FONTS */
  font-size: 62.5%;

  --text-logo: 4rem 'Leckerli One', cursive;
 
  --text-heading-md: 2.8rem 'Baloo 2', sans-serif;
  --text-heading-sm: 1.8rem 'Baloo 2', sans-serif;
 
  --text-body-md: 1.6rem 'Open Sans', sans-serif;
  --text-body-sm: 1.4rem 'Open Sans', sans-serif;
  --text-body-xs: 1.2rem 'Open Sans', sans-serif;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}