/* default inputs */
.input-wrapper, input{
  color: var(--text-body);
  font: var(--text-body-md);
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;

  font: var(--text-body-md);
  
  & input {
    appearance: none;
    width: 100%;
    padding: 1.6rem 1.3rem;
    cursor: pointer;
    
    color: var(--text-heading);
    
    background-color: var(--input-base);
    border: 1px solid #363B40 ;
    border-radius: .8rem;
    
    &::placeholder {
      font: var(--text-body-md);
      color: var(--input-placeholder);
    }
    
    &:hover, &:focus {
      border-color: var(--brand-light);
      outline: none;
      transition: ease-in-out .2s;
    }

    &:invalid {
      border: 1px solid var(--danger);
    }

    & + .alert {
      display: none;
    }

    &:invalid + .alert {
      display: block;
    }

  }
}

/* datetime input */
input[type="datetime-local"] {
  text-transform: uppercase;
  font: var(--text-body-md);
  color: var(--input-placeholder);

  &::-webkit-calendar-picker-indicator {
    opacity: 0;
    cursor: pointer;
  }
}

/* segmentar input */

input:checked {
  background-color: var(--shape-button);
}

input[type="radio"] {
  border: none;
  border-radius: .4rem;
    
  &:hover {
    background-color: var(--shape-hover);
  }
}

.event-types {
  height: 100%;
  gap: .4rem;
  background-color: var(--input-base);
  padding: .4rem;
  border: 1px solid #363B40 ;
  border-radius: .8rem;

  & .input-radio {
    display: flex;
    width: 100%;
    position: relative;

    & label {
      position: absolute;
      display: flex;
      align-items: center;
      gap: .8rem;

      top: 50%;
      left: 50%;
      translate: -50% -50%;

      cursor: pointer;

      & svg {
        width: 1.6rem;
        height: 1.6rem;
      }

    }

    &:has(input:checked) {
      color: var(--text-heading);
      font-weight: 500;
      transition: ease .2s;

      & svg path {
        fill: var(--brand-light);
        transition: ease .2s
      }
      
    }
    
  }
  
}

/* textarea-input*/

textarea {
  height: 13.6rem;
  padding: 1.6rem;
  background-color: var(--input-base);
  border: 1px solid #363B40 ;
  border-radius: .8rem;
    
  font: var(--text-body);
  color: var(--text-heading);
    
  cursor: pointer;

  &:hover, &:focus {
    border-color: var(--brand-light);
    outline: none;
  }

  &:invalid {
    border: 1px solid var(--danger);
  }

  & + .alert {
    display: none;
  }

  &:invalid + .alert {
    display: block;
  }
}

/* color radio input */

#customization .color-input  {
    display: flex;
    gap: 1.2rem;

    & input {
      width: 4rem;
      height: 4rem;
      border-radius: 50%;
      border: 4px solid var(--shape-hover);
      outline: 1px solid transparent;

      &:checked {
        outline: 1px solid var(--brand-light);
      }
    }
}

/* theme radio input */

.theme-radio {
  display: flex;
  flex-direction: column;
  padding: .4rem .4rem .8rem .4rem;

  background-color: var(--shape-button);
  border: 2px solid var(--shape-hover);
  border-radius: .8rem;

  & label {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .8rem;
    font: var(--text-body-sm);
    color: var(--text-heading);

    cursor: pointer;
  }
  
  & img {
    width: 100%;
    height: 6.4rem;
    object-fit: cover;
    border-radius: .8rem;
  }

  & input {
    display: none;
  }

}

.theme-radio:hover {
  background-color: var(--shape-hover);
  transition: .2s;
}

.theme-radio:has(:checked) {
  border: 2px solid var(--brand-light);
  transition: ease-out .2s;
}

/* toggle input */

.toggle-style {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  position: relative;
  
  & input {
    width: 6.4rem;
    border-radius: 99.9rem;
    
    &::before {
      position: absolute;
      content: '';
      background-color: var(--shape-hover);
      width: 2.4rem;
      height: 2.4rem;
      border-radius: 50%;
      top: 50%;
      left: .4rem;
      transform: translateY(-50%);
    }
    
    &:checked::before {
      background-color: var(--text-heading);
      transform: translate(3.2rem, -50%);
      transition: .3s;
    }
    
  }
  
  &:not(:checked) {
    & > label[for="not-dark"] {
      display: none;
    }

    & > input::before {
      transition: .3s;
    }
  }

  &:has(:checked) {

    & > input {
      background-color: var(--brand-light);
    }

    & > label[for="dark"] {
      display: none;
    }

    & > label[for="not-dark"] {
      display: block;
    }

  }
  
}

/*file input*/

.file-input { 
  display: flex;
  align-items: center;
  gap: 1.2rem;
  padding: .4rem 0;

  & label {
    display: flex;
    gap: .8rem;
    border-radius: .8rem;
    padding: 1.05rem 1.2rem;
    cursor: pointer;
    background-color: var(--shape-button);
    font-weight: 600;

    &:hover {
      background-color: var(--shape-hover);
    }

  }

  &:not(:invalid) + .alert {
    display: none;
  }

  &:has(:invalid) + .alert {
    display: block;
  }

  & + .alert {
    margin-top: -1.2rem;
  }
}

#img-cover {
  background-color: transparent;
  border: 0;
  color: var(--text-body);

  &::file-selector-button {
    display: none;
  }

}

/* checkbox input - terms */

#terms {
  gap: .4rem;

  .input-wrapper {
    flex-direction: row;
    gap: 1.2rem;
    padding: .4rem 0;
    font: var(--text-body-sm);
    
    & input {
      width: 2rem;
      height: 2rem;
      flex-shrink: 0;
      padding: 0;
      border-radius: .4rem;

      &:checked {
        background-image: url(/assets/icons/check.svg);
        background-size: cover;
        background-color: var(--input-base);
        border: 1px solid var(--brand-light);
      }
    }
  }
}

  
